h1{
    font-size: 40px;
    color: #29a3a3;
    font-weight: bold;
}
p{
    color: #29a3a3;
    font-size: 20px;
    font-weight: 500;
}
h2{
    font-size: 30px;
    color: #29a3a3;
    font-weight: bold;
}
h4{
    font-size: 30px;
    color: #29a3a3;
    font-weight: bold;
}
h5{
    font-size: 24px;
    color: #29a3a3;
    font-weight: bold;}


.Latitude temp Map{
    margin: 30px;
}
.navbar {
    background:white;
}
body {
        background:rgba(155, 255, 255, 0.438);
}   
img{
    margin-right:5px;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 5px;
    padding-left: 0%;
    padding-right:10px;
    border:5px;
}
.navbar .navbar-brand {
    color: white;
    font-size: 30px;
    font-weight: 800;
    width: 137px;

}
.navbar-brand
{
    position: absolute;
    width: 100%;
    text-align: left;
    margin-left:70px;
    background: #29a3a3;
}
.navbar-toggle {
    z-index:3;
}   
footer{
    position: bottom;
    padding-block-end: 15px;
    padding-block-start: 15px;
    background: #4f8fffb9;
    text-align: center;
    color: #ffffff;
    text-align: center;
    width: 100%; 
    border-top: 20px;  
    border-top-color: #29a3a3;
    border-width: 5px;
    border-top-style: solid;    
}


   